*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 170px;
    width: 100%;
    background: #E9EEF6;
    padding-top: 50px;
  }
  
  .date{
    margin-right: 10px;
  }

  .MuiFormHelperText-root{
    color: red ! important;
  }